# workspace
.vscode
.mypy_cache

# data
*.7z
*.bcc
*.bin
*.db
*.json
*.json.*
*.json5
*.jsonl
*.jsonl.*
*.jpg
*.png
*.psd
*.tar
*.xls*
*.xml
*.xz
*.zip

# private

# tmp
*.exp
*.lib
*.obj
*.pyc
*.pyd
*.tmp
